body{
    background-color: #FFFFFF;
}

.logo_iebc{
    width: 80px;
    height: 80px;
    margin-left: 80px;
    margin-top: 80px;
}

.cardview_login{
    width: 800px;
    height: 800px;
    border: 1px solid #C1C1C1;
    border-radius: 20px;
    margin-top: -150px;
    background-color: transparent;
}

.n_150_01{
    width: 242px;
    height: 55px;
    margin-top: 52px;
    margin-left: 519px;
    opacity: 1;
    position: absolute;
}

.text_btn{
    color: #000000;
    margin-top: 9px;
    font-family: Inter;
    font-weight: normal;
    font-size: 22px;
    opacity: 1;
    text-align: left;
}
.text_btn:hover{
    background-color: #e4e4e4;
    color: #000000;
}

.maestro_btn{
    width: 117px;
    height: 45px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #2B2B2B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
}
.maestro_btn:hover{
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.title{
    color: #000000;
    position: absolute;
    left: 50%;
    top: 210px;
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    opacity: 1;
    text-align: left;
    transform: translate(-50%, -50%);
}

.description{
    color: #C1C1C1;
    position: absolute;
    left: 50%;
    top: 249px;
    font-family: Inter;
    font-weight: light;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    transform: translate(-50%, -50%);
}

.email_et{
    width: 480px;
    height: 65px;
    margin-top: 400px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.password_et{
    width: 480px;
    height: 65px;
    margin-left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}

.login_btn{
    width: 480px;
    height: 65px;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
}

.recover_btn{
    width: 480px;
    height: 65px;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: 20px;
    border: 1px solid #C1C1C1;
    transform: translate(-50%, -50%);
}
.recover_btn:hover {
    background-color: #F6F6F6; 
    color: black; 
    border: 1px solid #C1C1C1;
  }
